@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "First ASP.NET thing";
}

<body>

    <img src="img/20190504_133955.jpg" height="300" width="240" />
    <br /><br />
    <p>In this class, I am hoping to better understand good programming practices, learn C#, React, and more fully grasp how applications are built. I'm excited to <br />learn a strongly typed language as well, and developing creative solutions!</p>
    <div>
        <ul>
            <li>#1 Job: Full Stack Developer</li>
            <li>#2 Job: Database Something or other</li>
            <li>#3 Job: Cybersecurity</li>
        </ul>
    </div>


</body>
